.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


__pycache__/
*.py[cod]


./training_data
./visualizer_data
./Background/*
./characters/*



*.npy
*.png
*.jpg